@import "tailwindcss";

/* Custom Scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 6px; /* Makes it very thin and professional */
}

::-webkit-scrollbar-track {
  background: #020203; /* Matches your layout background */
}

::-webkit-scrollbar-thumb {
  background: #18181b; /* Zinc-900 color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1; /* Indigo-500 when hovering */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #18181b #020203;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Custom Scrollbar for the Workbench */
.custom-scrollbar::-webkit-scrollbar { width: 5px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #3B82F655; border-radius: 10px; }

/* Force Label Studio to use your colors */
.lsf-main-view, .lsf-side-column {
  background-color: #0B0E14 !important;
  border-color: rgba(255,255,255,0.05) !important;
}
.lsf-label {
  border-radius: 4px !important;
  font-weight: 700 !important;
}